.screengrab{
    width:100%;
}

.intro-text{
    padding: 2% 10%;
}
.btn-inline {
    display:inline-block; 
}

.col-sm-4 {
    padding-top: 5%;
}

a.unstyled{
    text-decoration: none;
    color: black;


}